<!-- <h2>About Termshark</h2> -->
<!-- <p>Termshark is a simple terminal user-interface for tshark.</p> -->

<h2>Why?</h2>
<ul>
  <li>You're debugging on a remote machine and need to study a pcap.</li>
  <li>You don't want to copy it back to your desktop.</li>
  <li>You're familiar with Wireshark. 😃</li>
</ul>

<h2>Features</h2>
<ul>
  <li>Read pcap files or sniff live interfaces.</li>
  <li>Use Wireshark's display filters.</li>
  <li>Reassemble TCP and UDP streams.</li>
  <li>View conversations by protocol.</li>
  <li>Written in Go - for Linux, macOS, FreeBSD, Android (termux) and Windows.</li>
</ul>

<p>For setup, bugs and feature requests head over to <a href="https://github.com/gcla/termshark">GitHub</a>. </p>

<h2>News!</h2>
<ul>
  <li>Feb 02 2020 - <a href="https://termshark.io/changelog">Termshark</a> v2.1 is out now! Featureing conversations, pcap info, packet colors.</li>
  <li>Nov 10 2019 - <a href="https://termshark.io/changelog">Termshark</a> v2 is available!</li>
</ul>

<hr />

<ul class="fa-ul main-list" data-columns="1">
  <li class="link-list-item">
    <span class="fa fa-github fa-lg link-list-item-icon"></span>
    <a href="https://github.com/gcla/termshark">GitHub</a>
  </li>
  <li class="link-list-item">
    <span class="fa fa-twitter fa-lg link-list-item-icon"></span>
    <a href="https://twitter.com/termshark">Twitter</a>
  </li>
  <li class="link-list-item">
    <span class="fa fa-user fa-lg link-list-item-icon"></span>
    <a href="mailto:grclark+termshark@gmail.com">Author</a>
  </li>
</ul>

