<h2>About Termshark</h2>
<p>Termshark is a simple terminal user-interface for tshark.</p>

<h2>Why?</h2>
<ul>
  <li>You're debugging on a remote machine and need to study a pcap.</li>
  <li>You don't want to copy it back to your desktop.</li>
  <li>You're familiar with Wireshark. 😃</li>
</ul>

<h2>Features</h2>
<ul>
  <li>Read pcap files or sniff live interfaces.</li>
  <li>Use Wireshark's display filters.</li>
  <li>Copy packet data to your clipboard.</li>
  <li>Written in Go - for Linux (x64/arm/termux), macOS, FreeBSD and Windows.</li>
</ul>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/gcla/termshark">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/gcla/termshark">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/termshark">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="mailto:grclark+termshark@gmail.com">Author</a>
  </li>
</ul>
